### Clean Dataframe

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('DelayedFlights.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

I want to focus on predicting classifying the type of delays, and inspecting he duration, but not predicting.

The model will predict which type of delay a flight will incure under certain conditions/circumstances.

In [4]:
#taxi in and out are irrelevant features
df = df.drop(columns=['TaxiIn', 'TaxiOut', 'Unnamed: 0'], axis=1)

In [5]:
#flight and tail number will not contirbute additional information to classifying a delay,
df = df.drop(columns=['FlightNum', 'TailNum'], axis=1)

In [6]:
#time elapsed and airtime are also irrelevant information 
#to predicting the type of delay
df = df.drop(columns=['AirTime', 'ActualElapsedTime', 'CRSElapsedTime'], axis=1)

In [7]:
#CRS is a computer reservation system used to help predict flight logistics
df = df.drop(columns=['CRSDepTime', 'CRSArrTime'], axis=1)

In [8]:
#Year this dataset is based on is 2008. This column is not relevant, 
#using month will be more informative
df = df.drop(columns=['Year'], axis=1)

In [9]:
#Cancellation is not going to be considered a type of delay, 
#yet a separate category outside the framing of the model
df = df.drop(columns=['Cancelled','CancellationCode'])

In [10]:
#diverted has no values
df = df.drop(columns=['Diverted'], axis=1)

In [11]:
# not needed columns
df = df.drop(columns=['DepTime', 'Origin'], axis=1)

In [12]:
df['DayofWeek'] = df['DayOfWeek']
df.drop(columns=['DayOfWeek'], inplace=True, axis=1)

In [13]:
#do not need these delay classifications
df = df.drop(columns=[
    'CarrierDelay',
    'WeatherDelay',
    'NASDelay',
    'SecurityDelay',
    'LateAircraftDelay',
    'ArrDelay'], axis=1)

Deleting rows with NA values

In [14]:
df.isna().sum()

Month               0
DayofMonth          0
ArrTime          7110
UniqueCarrier       0
DepDelay            0
Dest                0
Distance            0
DayofWeek           0
dtype: int64

In [15]:
df.dropna(inplace=True)

In [16]:
df.isna().sum()

Month            0
DayofMonth       0
ArrTime          0
UniqueCarrier    0
DepDelay         0
Dest             0
Distance         0
DayofWeek        0
dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1929648 entries, 0 to 1936757
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   Month          int64
 1   DayofMonth     int64
 2   ArrTime        float64
 3   UniqueCarrier  object
 4   DepDelay       float64
 5   Dest           object
 6   Distance       int64
 7   DayofWeek      int64
dtypes: float64(2), int64(4), object(2)
memory usage: 132.5+ MB

##### Top Destinations

In [18]:
df.Dest.value_counts()

ORD    108355
ATL    106585
DFW     70243
DEN     62859
LAX     59885
        ...
BLI        13
BJI        12
INL         9
PIR         3
TUP         1
Name: Dest, Length: 302, dtype: int64

In [19]:
# top destinations we will look at.
destinations = ['ORD', 'ATL', 'DFW', 'DEN', 'LAX']

In [20]:
#list of all destinations
destinations_li = list(df.Dest.unique())
destinations_li

['TPA',
 'BWI',
 'JAX',
 'LAS',
 'MCO',
 'MDW',
 'PHX',
 'FLL',
 'PBI',
 'RSW',
 'HOU',
 'BHM',
 'BNA',
 'IND',
 'PHL',
 'ABQ',
 'ALB',
 'AMA',
 'AUS',
 'BDL',
 'BOI',
 'BUF',
 'BUR',
 'CLE',
 'CMH',
 'DEN',
 'ELP',
 'GEG',
 'IAD',
 'ISP',
 'LAX',
 'LBB',
 'LIT',
 'MAF',
 'MCI',
 'MHT',
 'MSY',
 'OAK',
 'OKC',
 'OMA',
 'ONT',
 'ORF',
 'PDX',
 'PIT',
 'PVD',
 'RDU',
 'RNO',
 'SAN',
 'SAT',
 'SDF',
 'SEA',
 'SFO',
 'SJC',
 'SLC',
 'SMF',
 'SNA',
 'STL',
 'TUL',
 'TUS',
 'DAL',
 'DTW',
 'JAN',
 'HRL',
 'CRP',
 'EWR',
 'IAH',
 'ROC',
 'MYR',
 'GSO',
 'SAV',
 'RIC',
 'COS',
 'FAT',
 'MRY',
 'LGB',
 'BFL',
 'EUG',
 'ICT',
 'CAE',
 'DFW',
 'DAY',
 'MSP',
 'GSP',
 'MEM',
 'TYS',
 'SHV',
 'BTV',
 'MFE',
 'PWM',
 'ATL',
 'SYR',
 'MKE',
 'HSV',
 'BTR',
 'CHS',
 'MSN',
 'LFT',
 'LRD',
 'SRQ',
 'CLT',
 'VPS',
 'AVL',
 'GPT',
 'LGA',
 'ABE',
 'BGR',
 'DCA',
 'ORD',
 'GRR',
 'MOB',
 'PNS',
 'CHA',
 'MGM',
 'CVG',
 'GRK',
 'PSP',
 'TLH',
 'LCH',
 'BOS',
 'BRO',
 'XNA',
 'BPT',
 'LEX',
 'MTJ',
 'AEX',
 'MLU',
 'DSM',
 'CRW',
 'CLL',
 'ILM',
 'JFK',
 'ASE',
 'CPR',
 'DRO',
 'RAP',
 'KOA',
 'LIH',
 'OGG',
 'MDT',
 'ROA',
 'SPI',
 'HNL',
 'MFR',
 'ATW',
 'BMI',
 'CAK',
 'CID',
 'FSD',
 'FWA',
 'GRB',
 'LAN',
 'MBS',
 'SBN',
 'FLG',
 'GJT',
 'YUM',
 'EGE',
 'ITO',
 'AVP',
 'CWA',
 'TVC',
 'SBP',
 'SBA',
 'COD',
 'HDN',
 'CLD',
 'TEX',
 'MLB',
 'SGF',
 'MIA',
 'HPN',
 'TRI',
 'SUN',
 'SGU',
 'TWF',
 'IDA',
 'MSO',
 'BZN',
 'YKM',
 'SLE',
 'HLN',
 'LWS',
 'GTF',
 'BIL',
 'BTM',
 'JAC',
 'FCA',
 'PSC',
 'ACV',
 'RDD',
 'IPL',
 'MOD',
 'PIA',
 'LNK',
 'GUC',
 'AZO',
 'FAR',
 'MLI',
 'PMD',
 'BIS',
 'PIH',
 'EKO',
 'RDM',
 'BLI',
 'IYK',
 'SMX',
 'CEC',
 'CIC',
 'OXR',
 'RFD',
 'CDC',
 'STT',
 'SJU',
 'ANC',
 'STX',
 'DAB',
 'PHF',
 'MCN',
 'VLD',
 'CSG',
 'SWF',
 'BQK',
 'MEI',
 'FAY',
 'EWN',
 'SCE',
 'DHN',
 'EYW',
 'EVV',
 'PFN',
 'GNV',
 'FNT',
 'AGS',
 'ABY',
 'CHO',
 'OAJ',
 'FSM',
 'FLO',
 'HHH',
 'TOL',
 'LYH',
 'GTR',
 'ACY',
 'TUP',
 'LAW',
 'TYR',
 'ABI',
 'TXK',
 'ACT',
 'SPS',
 'SJT',
 'GGG',
 'CMI',
 'ROW',
 'MQT',
 'RST',
 'LSE',
 'DBQ',
 'DLH',
 'GFK',
 'MOT',
 'RHI',
 'SUX',
 'CMX',
 'BGM',
 'PLN',
 'ERI',
 'ALO',
 'ELM',
 'KTN',
 'SIT',
 'JNU',
 'CDV',
 'PSG',
 'YAK',
 'WRG',
 'FAI',
 'OME',
 'BRW',
 'SCC',
 'OTZ',
 'BET',
 'ADQ',
 'ADK',
 'PSE',
 'BQN',
 'GCC',
 'RKS',
 'MKG',
 'DLG',
 'AKN',
 'LWB',
 'ACK',
 'WYS',
 'INL',
 'BJI',
 'GST',
 'LMT',
 'OTH',
 'ITH',
 'HTS',
 'PIR']

In [21]:
#remove top destinations from list
for des in destinations:
    destinations_li.remove(des)

In [22]:
#setting df to top destinations
for des_li in destinations_li:
    df = df[df['Dest'].str.contains(des_li)==False]

In [23]:
df.Dest.value_counts()

ORD    108355
ATL    106585
DFW     70243
DEN     62859
LAX     59885
Name: Dest, dtype: int64

In [24]:
#change time measurements to integers
for col in df.columns:
    if df[col].dtype == 'float64':
        df[col] = df[col].apply(np.int64)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 407927 entries, 78 to 1936757
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Month          407927 non-null  int64
 1   DayofMonth     407927 non-null  int64
 2   ArrTime        407927 non-null  int64
 3   UniqueCarrier  407927 non-null  object
 4   DepDelay       407927 non-null  int64
 5   Dest           407927 non-null  object
 6   Distance       407927 non-null  int64
 7   DayofWeek      407927 non-null  int64
dtypes: int64(6), object(2)
memory usage: 28.0+ MB

### Choosing Unique Carriers

In [26]:
df.UniqueCarrier.value_counts()

AA    78188
UA    56345
MQ    49620
DL    42380
EV    35513
OO    34504
WN    23712
FL    23555
F9    13748
YV    12890
CO     9144
US     8229
NW     6032
XE     3750
OH     3680
AS     2965
9E     2353
B6     1118
HA      201
Name: UniqueCarrier, dtype: int64

In [27]:
#choosing top carriers
unique_carrier = ['AA', 'UA', 'MQ']

In [28]:
#list of carriers
unicarr_li = list(df.UniqueCarrier.unique())
unicarr_li

['WN',
 'XE',
 'YV',
 'OH',
 'OO',
 'UA',
 'US',
 'DL',
 'EV',
 'F9',
 'FL',
 'HA',
 'MQ',
 'NW',
 '9E',
 'AA',
 'AS',
 'B6',
 'CO']

In [29]:
#remove top carriers
for uc in unique_carrier:
    unicarr_li.remove(uc)

In [30]:
#filtering unique carrier data to the top carriers with data. 
for udl in unicarr_li:
    df = df[df['UniqueCarrier'].str.contains(udl)==False]

In [31]:
df.UniqueCarrier.value_counts()

AA    78188
UA    56345
MQ    49620
Name: UniqueCarrier, dtype: int64

In [32]:
df = df.drop(columns=['UniqueCarrier'], axis=1)

Keeping top 5 airlines with the most entries. Leaving about a 600,000 entries for the data set I will use.

### Departure Delay Filter

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184153 entries, 66599 to 1910542
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Month       184153 non-null  int64
 1   DayofMonth  184153 non-null  int64
 2   ArrTime     184153 non-null  int64
 3   DepDelay    184153 non-null  int64
 4   Dest        184153 non-null  object
 5   Distance    184153 non-null  int64
 6   DayofWeek   184153 non-null  int64
dtypes: int64(6), object(1)
memory usage: 11.2+ MB

In [34]:
df.DepDelay.describe()

count    184153.000000
mean         49.034227
std          64.142518
min           6.000000
25%          13.000000
50%          28.000000
75%          61.000000
max        1710.000000
Name: DepDelay, dtype: float64

In [35]:
#setting dataframe to less than 120 min departure delay
#fligths past 120 min wil be considered cancelled and
#client can revceive full refund
df = df[df.DepDelay <= 120]
df

         Month  DayofMonth  ArrTime  DepDelay Dest  Distance  DayofWeek
66599        1           1      539        14  ORD      4243          2
66600        1           4      448         8  ORD      4243          5
66601        1           5      448        11  ORD      4243          6
66602        1           6      529        36  ORD      4243          7
66603        1           9      508         7  ORD      4243          3
...        ...         ...      ...       ...  ...       ...        ...
1910538     12          18     2158        78  DFW       448          4
1910539     12          22     2142        63  DFW       448          1
1910540     12          24     2058        28  DFW       448          3
1910541     12          27     2131        63  DFW       448          6
1910542     12          29     2044        10  DFW       448          1

[168018 rows x 7 columns]

In [36]:
df.to_csv('basic_df.csv')