### Dummy Variables

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv('basic_df.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168018 entries, 0 to 168017
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  168018 non-null  int64
 1   Month       168018 non-null  int64
 2   DayofMonth  168018 non-null  int64
 3   ArrTime     168018 non-null  int64
 4   DepDelay    168018 non-null  int64
 5   Dest        168018 non-null  object
 6   Distance    168018 non-null  int64
 7   DayofWeek   168018 non-null  int64
dtypes: int64(7), object(1)
memory usage: 10.3+ MB

In [4]:
df = df.drop(columns=['Unnamed: 0'], axis=1)

In [5]:
#fligths departure after 15 min will be considered delayed
dep_delay = pd.DataFrame(df.DepDelay > 15)

In [6]:
#replace false/true with 0/1
dep_delay = dep_delay.replace(to_replace=[False, True], value=[0,1])

In [7]:
#set departrue delay equal to new dummy departure
df['DepDelay'] = dep_delay

In [8]:
#destination dummies
df_dummies = pd.get_dummies(df, columns=['Dest'])
df_dummies

,Month,DayofMonth,ArrTime,DepDelay,Distance,DayofWeek,Dest_ATL,Dest_DEN,Dest_DFW,Dest_LAX,Dest_ORD
0,1,1,539,0,4243,2,0,0,0,0,1
1,1,4,448,0,4243,5,0,0,0,0,1
2,1,5,448,0,4243,6,0,0,0,0,1
3,1,6,529,1,4243,7,0,0,0,0,1
4,1,9,508,0,4243,3,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
168013,12,18,2158,1,448,4,0,0,1,0,0
168014,12,22,2142,1,448,1,0,0,1,0,0
168015,12,24,2058,1,448,3,0,0,1,0,0
168016,12,27,2131,1,448,6,0,0,1,0,0
168017,12,29,2044,0,448,1,0,0,1,0,0

In [9]:
df_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168018 entries, 0 to 168017
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Month       168018 non-null  int64
 1   DayofMonth  168018 non-null  int64
 2   ArrTime     168018 non-null  int64
 3   DepDelay    168018 non-null  int64
 4   Distance    168018 non-null  int64
 5   DayofWeek   168018 non-null  int64
 6   Dest_ATL    168018 non-null  uint8
 7   Dest_DEN    168018 non-null  uint8
 8   Dest_DFW    168018 non-null  uint8
 9   Dest_LAX    168018 non-null  uint8
 10  Dest_ORD    168018 non-null  uint8
dtypes: int64(6), uint8(5)
memory usage: 8.5 MB

In [10]:
df_dummies.to_csv('df_dummies.csv')